
  <div *ngFor="let j of names;let i=index">
    <div *ngIf="j.length==3 ;else confailed">
      {{j}}
    </div>
    <ng-template #confailed>
      <div *ngIf="j.length==6; else confailed1">
        {{j}} else if
      </div>
      <ng-template #confailed1>else</ng-template>
    </ng-template>
  </div>