<h1> displaying all movies</h1>
    
<div *ngFor="let d of data,let i=index">
    <img src={{d.image}}>
</div>


<br>
<h1>displaying only with condition</h1>
    
<div *ngFor="let d of data,let i=index">
    <div *ngIf="d.language==='telugu'">
        <img src={{d.image}}>
    </div>

</div>