<form #ref="ngForm" (ngSubmit)="onSubmit(ref)">
    <div class="row">
      <label for="name">Name:</label>
      <input type="text" name="Name" [(ngModel)]="Name" equired />
      <span *ngIf="ref.submitted && ref.controls.Name.invalid">Enter the name</span>
      Interpolation : {{Name}}
    </div>
    <br />
  
    <div class="row">
      <label for="name">Email:</label>
      <input type="text" name="Email" ngModel email required />
      <span *ngIf="ref.submitted && ref.controls.Email.invalid">Enter the Email</span>
    </div>
    <br />
    <button type="submit">Submit</button>
  </form>
  