<p>rforms works!</p>
<form [formGroup]="myform">
    <div>
        <label>name : </label>
        <input type="text" id="name" formControlName="name">
        <br>
        <span *ngIf="myform.controls.name.invalid && myform.controls.name.touched">please enter name</span>
    </div>
    <br>
    <div>
        <label>contact</label>
        <input type="text" id="contact" formControlName="contact">
        <br>
        <span *ngIf="myform.controls.contact.invalid && myform.controls.contact.touched">please enter correct number</span>
    </div>
    <br>
    <div>
        <label>email</label>
        <input type="text" id="email" formControlName="email" email>
        <br>
        <span *ngIf="myform.controls.email.invalid && myform.controls.email.touched">please enter correct email</span>
    </div>
    <br>
    <button type="submit" [disabled]="!myform.valid">Submit</button>
</form>