<p>component1 works!</p>
<button routerLink="/comp2" (click)="fundynamic('Sibling sibling interaction')">Click</button>
<div [ngClass]="'A'"><h1>Ng Class</h1></div>
<div [ngStyle]="{'background':'blue'}"><h1>Ng Style</h1></div>